.tm-panel {
    position: relative;
    width: 100%;
    padding: rem(40) rem(48) rem(40) rem(32);
    display: grid;
    grid-template-columns: auto rem(40) auto 1fr auto;
    grid-template-rows: rem(80) 1fr rem(36);
    grid-template-areas: "image empty title title title title"
                         "image empty description description description description"
                         "image empty tip decoration btn extra";
    background: #fff;
    box-sizing: border-box;

    &-image {
        grid-area: image;
        position: relative;

        &-img {
            display: block;
            width: rem(170);
            height: rem(228);
            border-radius: 0 rem(8) rem(8) 0;
        }
    }

    &-title {
        grid-area: title;
        font-size: rem(28);
        line-height: rem(40);
        color: rgba(37, 44, 54, 1);
        font-weight: bold;
        @include ellipsis(2);
    }

    &-description {
        grid-area: description;

        &.is-custom {
            margin-bottom: rem(-8);
        }

        &-text {
            font-size: rem(28);
            line-height: rem(40);
            color: rgba(153, 153, 153, 1);
            @include ellipsis(2);
        }

        &-imgs {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;

            & > img {
                margin-bottom: rem(8);
                margin-right: rem(8);
            }
        }
    }

    &-tip {
        grid-area: tip;
        align-self: end;
        font-size: rem(22);
        line-height: 1;
        color: rgba(178, 186, 196, 1);
    }

    &-decoration {
        grid-area: decoration;
        align-self: end;
        justify-self: end;
        font-size: rem(24);
        line-height: 1;
        color: rgba(178, 186, 196, 1);
        text-decoration: line-through;
    }

    &-btn {
        grid-area: btn;
        align-self: end;
        justify-self: end;
        padding-left: rem(8);
        font-size: rem(28);
        line-height: 1;
        color: rgba(58, 149, 250, 1);
        font-weight: bold;
    }

    &-extra {
        grid-area: extra;
        padding-left: rem(20);
    }

    & + &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: rem(242);
        right: rem(32);
        height: 1px;
        transform: scaleY(.5);
        background: rgba(246, 246, 247, 1);
    }
}
