.tm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    transition: .3s cubic-bezier(0.4, 0.0, 0.2, 1);

    &-content {
        position: relative;
    }

    &-footer {
        width: 100%;
        margin-top: rem(40);
    }

    &-cancel {
        &_out-right {
            width: rem(40);
            order: -1;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_out-left {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-100%, -100%);
            width: rem(50);
            height: rem(50);
        }

        &_in-right {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, 50%);
            width: rem(50);
            height: rem(50);
        }

        &_in-left {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(50%, 50%);
            width: rem(50);
            height: rem(50);
        }

        &_bottom {
            position: relative;
            margin-top: rem(40);
            width: rem(74);
            height: rem(74);
        }

        &__line {
            width: 1px;
            height: rem(14);
            background: #fff;
        }
    }
}

.tm-dialog-enter,
.tm-dialog-leave-to {
    transform: translate(-50%, calc(-100% - 50vh));
    opacity: 0;
}
