.tm-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);

    &__icon {
        font-size: 25px;
    }

    &-content {
        height: rem(300);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &-text {
        margin-top: 3px;
    }
}
