.tm-white {
    &-xs {
        height: $white-xs-height;
    }

    &-sm {
        height: $white-sm-height;
    }

    &-md {
        height: $white-md-height;
    }

    &-lg {
        height: $white-lg-height;
    }

    &-xl {
        height: $white-xl-height;
    }
}
