// cell
$cell-padding-top: rem(32) !default;
$cell-padding-bottom: rem(32) !default;
$cell-padding-left: rem(32) !default;
$cell-padding-right: rem(32) !default;

// collapse
$collapse-header-height: rem(104) !default;
$collapse-header-padding-left: rem(36) !default;
$collapse-header-padding-right: rem(36) !default;
$collapse-title-size: rem(32) !default;
$collapse-disabled-title-size: rem(32) !default;
$collapse-icon-size: rem(30) !default;
$collapse-disabled-icon-size: rem(35) !default;

// range
$range-finger-color: #2A73FD !default;

// wing-blank
$wing-xs-padding: rem(10) !default;
$wing-sm-padding: rem(20) !default;
$wing-md-padding: rem(30) !default;
$wing-lg-padding: rem(40) !default;
$wing-xl-padding: rem(50) !default;

// white-space
$white-xs-height: rem(10) !default;
$white-sm-height: rem(20) !default;
$white-md-height: rem(30) !default;
$white-lg-height: rem(40) !default;
$white-xl-height: rem(50) !default;

// switch
$switch-width: 52px !default;
$switch-height: 32px !default;
$switch-border-width: 2px !default;
