// cell
$cell-padding-top: rem(32);
$cell-padding-bottom: rem(32);
$cell-padding-left: rem(32);
$cell-padding-right: rem(32);

// collapse
$collapse-header-height: rem(88);

// range
$range-finger-color: #2A73FD;

// wing-blank
$wing-xs-padding: rem(10);
$wing-sm-padding: rem(20);
$wing-md-padding: rem(30);
$wing-lg-padding: rem(40);
$wing-xl-padding: rem(50);
