@import 'common/var.scss';

.tm-cell {
    position: relative;
    width: 100%;
    padding: $cell-padding-top $cell-padding-right $cell-padding-bottom $cell-padding-left;
    display: flex;
    align-items: center;
    font-size: rem(34);
    line-height: 1.41176471;
    background: #fff;
    box-sizing: border-box;

    &__hd {
        width: rem(210);
        word-wrap: break-word;
        word-break: break-all;
    }

    &__bd {
        flex: 1;
    }

    &__ft {
        color: rgba(0, 0, 0, 0.5);
        text-align: right;
    }

    &__link {
        position: relative;
        margin-left: rem(28);
        width: 14.2px;
        height: 14.2px;

        &:after {
            content: ' ';
            position: absolute;
            top: 50%;
            margin-top: -5px;
            height: 8px;
            width: 8px;
            border-width: 2px 2px 0 0;
            border-color: #B2B2B2;
            border-style: solid;
            transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
        }
    }

    & + &:before {
        content: ' ';
        position: absolute;
        left: $cell-padding-left;
        right: 0;
        top: 0;
        height: 1px;
        transform: scaleY(.5);
        background: rgba(0, 0, 0, 0.1);
        z-index: 2;
    }
}
